---
import ArrowLeft from "../../icons/ArrowLeft.astro";
import ArrowRight from "../../icons/ArrowRight.astro";


---

<div class="relative w-full overflow-hidden">
  <div class="flex transition-transform duration-700 ease-in-out" style="transform: translateX(0);">
      <div class="min-w-full flex justify-center items-center bg-amber-950 p-4" >
        <div>
        <div class=" bg-amber-500 text-center flex flex-col  ">
          <p class="font-bold bg-cyan-100 ">Envío gratis a partir de $150.000</p>
          <button class="bg-transparent text-[13px] font-normal cursor-pointer text-black border-none  underline">
  Ver condiciones
</button>

        </div>
        <button><ArrowRight/></button>
        <button><ArrowLeft/></button>
      </div>
      </div>
  </div>
</div>



