---
import AsideNavbar from '../components/AsideNavbar.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro" description="Astro is a static site generator that allows you to build fast, modern websites using your favorite frameworks and libraries.">
	<AsideNavbar/>
	<main>

	</main>
</Layout>
