---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import SideBar from "../components/SideBar.astro";
---

<Layout
  title="Welcome to Astro"
  description="Astro is a static site generator that allows you to build fast, modern websites using your favorite frameworks and libraries."
>

<Header/>
  <main>
<SideBar/>
<Hero/>

  </main>
</Layout>
