---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import SideBar from "../components/SideBar.astro";
import SectionContainer from "../components/Section_Container.astro";
import Models from "../components/Models.astro";
import Slider1 from "../components/Sliders/Slider1.astro";
---

<Layout
  title="Welcome to Astro"
  description="Astro is a static site generator that allows you to build fast, modern websites using your favorite frameworks and libraries."
>
<main>
    <!-- <SideBar /> -->
    <Hero />
  </main>
  <Slider1/>
  
  <div class="space-y-24">
    <SectionContainer id="carrusel">
      <Models />
    </SectionContainer>
  </div>
</Layout>

