<nav class="pt-20 text-amber-50">
  <ul class="">
    <li><a href="">Ultimos ingresos</a></li>
    <li><a href="">Remeras</a></li>
    <li><a href="">Buzos</a></li>
    <li><a href="">Pantalones</a></li>
    <li><a href="">Abrigos</a></li>
    <li><a href="">Abrigos</a></li>
    <li><a href="">Shorts</a></li>
  </ul>
</nav>

<style>
  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 25%;
    height: 100vh;
    display: flex;
    justify-content: center;
    z-index: 10; /* Asegura que esté por encima del fondo */

  }
  ul {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    line-height: 18.4px;
    padding: 0px 0px 0px 32px;
  }

  li {
    align-items: center;
    display: flex;
    font-family: DmSansRegular;
    justify-content: flex-start;
    line-height: 18.4px;
    margin: 10px 0px;
    text-align: left;
  }
</style>
