---
import MenuButton from "./MenuButton.astro";
import NavIcons from "./NavIcons.astro";
---

<header class="w-full fixed top-0 z-10 flex items-center mx-auto 
">
<nav class="flex px-3 justify-between
items-center w-full mx-5 ">


    <div >
    <MenuButton />
    </div>



<h1>titulo</h1>


<div>
  <NavIcons/>  
</div>


</nav>

</header>



<style is:inline>


</style>
