---
import MenuButton from "./MenuButton.astro";
---

<header class="w-full fixed top-0 z-10 flex items-center mx-auto mt-5
">
<nav class="flex px-3 justify-between
items-center w-full mx-5 ">


    <div >
    <MenuButton />
    </div>

<h1>titulo</h1>


</nav>

</header>



<style is:inline>
nav{

}



</style>
