<section class="h-screen bg-black w-screen relative overflow-hidden">
  <div id="particulas-bkg" class="absolute top-0 bottom-0 ">
    </div>

    <div class="slider z-30 absolute bottom-0 left-1/2 transform -translate-x-1/2">
        <img src="fotochica3.png" alt="">
  </div>
</section>

<style>


.slider img {
  width: 230px;
  height: auto;
  object-fit: cover;
}
</style>


<script>

</script>