<button id="menu-button" class="flex cursor-pointer">
    <div class="bg-white"></div>
    <div class="bg-white"></div>
    <div class="bg-white"></div>
  </button>
  
  <style>
    button {
      flex-direction: column;
      width: 3rem;
      border: 0;
      background: transparent;
      gap: 0.65rem;
    }
  
    button > div {
      height: 2px;
      width: 100%;
      border-radius: 5px;
      transition: all 0.5s;
      transform-origin: left;
    }
  
    /* Efecto cuando el botón está activo */
    button.active div:first-child {
      transform: rotate(31deg);
    }
  
    button.active div:nth-child(2) {
      opacity: 0;
    }
  
    button.active div:last-child {
      transform: rotate(-33deg);
    }  
  </style>
  

  <script>
    const btn = document.getElementById('menu-button');
    if (btn) {
      btn.addEventListener('click', () => {
        btn.classList.toggle('active');
      });
    }
  </script>